@font-face {
  font-family: "opensans";
  src: url(../font/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "slabo";
  src: url(../font/Slabo_27px/Slabo27px-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}

h2,
h3,
h4,
nav,
button {
  font-family: "slabo";
}
body {
  background-image: url(../img/fond.png);
  font-family: "opensans";
}

body > header {
  background-color: #25b3b4;
  border-top: solid #2b9aa0 5px;
  border-bottom: solid #2b9aa0 5px;
  text-align: center;
  margin-top: 60px;
}
nav ul li {
  display: inline-block;
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1em;
}
main {
  min-width: 800px;
  max-width: 1100px;
  margin: 0 auto;
}
/*section1*/
#section1 {
  width: 40%;
  text-align: center;
  color: #454a54;
  margin: 50px auto 0;
}
#section1 p {
  margin-bottom: 15px;
  font-family: "opensans";
}
#section1 h2 {
  margin: 20px;
}
#section2 {
  width: 65%;
  padding: 10px;
  display: inline-block;
  background-color: #b6dedc;
  text-align: center;
}

article {
  width: 45%;
  display: inline-block;
  text-align: justify;
  vertical-align: top;
  margin-top: 20px;
  padding: 10px;
}

article img {
  float: left;
  border-radius: 50%;
  margin-right: 15px;
}

article h4 {
  color: rgb(61, 59, 59);
  text-align: center;
  font-size: 1.8em;
  margin: 15px auto;
}

article i,
section h2 > span {
  color: #25b3b4;
}





  
